/.DS_Store
/11667_HW3_Code_Vignesh
/11967-hw1-dev-student
/11967-hw2-dev-student-local
/11967-hw3-dev-student
/11967-hw4-dev-student
/11967-hw5-dev-student
/11967-hw6-dev-student
/11967-hw6-dev-student.zip
/11967-hw7-dev-student
/11967-hw8-dev-student
/hw2-virtual
/testfile.txt
/week1.ipynb